
.clientes-container {
    height: 100vh; 
    width: 100vw;  
    margin: 0;     
    padding: 40px; 
    border-radius: 15px;

    
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), 
                      url('https://preview.redd.it/4k-wallpaper-muscle-cars-on-track-v0-90d07spoa9sa1.jpg?width=1080&crop=smart&auto=webp&s=c2008edc75e25b0e5d352b0056866eba6ddf33c5');
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #FFD700; 
    text-align: center; 
}


.clientes-title {
    font-size: 32px;
    font-weight: bold;
    color: #FFD700; 
    margin-bottom: 30px;
}


.clientes-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: #222; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clientes-table th,
.clientes-table td {
    padding: 12px 15px;
    text-align: left;
}

.clientes-table th {
    background-color: #FFD700; 
    color: black; 
    font-size: 18px;
    text-transform: uppercase;
}

.clientes-table td {
    border-bottom: 1px solid #FFD700; 
    font-size: 16px;
    color: #FFD700; 
}

.clientes-table tr:hover {
    background-color: rgba(255, 215, 0, 0.1); 
}


.loading {
    font-size: 18px;
    color: #FFD700; 
    text-align: center;
    margin-top: 20px;
}


.error-message {
    color: #FF6347; 
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}


.no-clientes-message {
    color: #666;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}


@media (max-width: 768px) {
    .clientes-container {
        padding: 20px; 
    }

    .clientes-table {
        font-size: 14px; 
    }

    .clientes-title {
        font-size: 26px; 
    }
}
