.clientes-container {
    height: 100vh; 
    width: 100vw;  
    margin: 0;     
    padding: 40px; 
    border-radius: 15px;

    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), 
                      url('https://content.app-sources.com/s/7922247355803329/uploads/Images/blue-sport-sedan-parked-yard-3446700.jpg?format=webp');
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #B0C4DE; /* Azul claro para el texto */
    text-align: center; 
}

.clientes-title {
    font-size: 32px;
    font-weight: bold;
    color: #B0C4DE; /* Azul claro para el título */
    margin-bottom: 30px;
}

.clientes-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: rgba(30, 30, 30, 0.8); /* Fondo oscuro para la tabla */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

.clientes-table th,
.clientes-table td {
    padding: 12px 15px;
    text-align: left;
}

.clientes-table th {
    background-color: #4682B4; /* Azul más oscuro para el encabezado */
    color: #FFFFFF; /* Texto blanco para mejor contraste */
    font-size: 18px;
    text-transform: uppercase;
}

.clientes-table td {
    border-bottom: 1px solid #B0C4DE; /* Borde en azul claro */
    font-size: 16px;
    color: #B0C4DE; /* Texto en azul claro */
}

.clientes-table tr:hover {
    background-color: rgba(70, 130, 180, 0.2); /* Fondo de fila más oscuro al pasar el mouse */
}

.loading {
    font-size: 18px;
    color: #B0C4DE; /* Color de carga en azul claro */
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: #FF6347; 
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.no-clientes-message {
    color: #999; /* Un gris más oscuro para un mejor contraste */
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .clientes-container {
        padding: 20px; 
    }

    .clientes-table {
        font-size: 14px; 
    }

    .clientes-title {
        font-size: 26px; 
    }
}
