.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), 
                      url('https://content.app-sources.com/s/7922247355803329/uploads/Images/blue-sport-sedan-parked-yard-3446700.jpg?format=webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 20px;
}

.registro-form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #0056b3;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-align: center;
}

.registro-form label {
    font-size: 15px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
    font-weight: 500;
}

.registro-form input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 15px;
    background-color: #f7f9fc;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.3s;
    text-align: center;
}

.registro-form input:focus {
    border-color: #007bff;
    background-color: #e9f5ff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    outline: none;
}

.registro-button {
    background-color: #007bff;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.2);
    width: 100%;
    text-align: center;
}

.registro-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.3);
}

@media (max-width: 768px) {
    .registro-form {
        padding: 20px;
    }

    .registro-button {
        font-size: 14px;
        padding: 10px;
    }
}
