.vehiculos-container {
    padding: 0;
    min-height: 100vh; 
    text-align: center; 
    background-image: linear-gradient(
        rgba(0, 0, 0, 1), 
        rgba(0, 0, 0, 0.5)
    ), 
    url('https://content.app-sources.com/s/7922247355803329/uploads/Images/blue-sport-sedan-parked-yard-3446700.jpg?format=webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.vehiculos-page header {
    background-color: #1E90FF; 
    padding: 15px 0;
    margin-bottom: 20px;
    width: 100%; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}

.vehiculos-page nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.vehiculos-page nav a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.vehiculos-page nav a:hover {
    color: #B0C4DE; 
}

.vehiculos-page h1 {
    font-size: 36px; 
    font-weight: 700;
    color: white; 
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.vehiculos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.vehiculo-item {
    background-color: rgba(17, 17, 17, 0.7); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    text-align: left;
}

.vehiculo-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.vehiculo-item h2 {
    font-size: 20px;
    color: #B0C4DE; 
    margin-bottom: 8px;
    background-color: transparent;
}

.vehiculo-item p {
    font-size: 14px;
    color: #B0C4DE; 
    margin-bottom: 15px;
    line-height: 1.4;
    background-color: transparent;
}

.vehiculo-imagen {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #B0C4DE; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.rentar-button {
    background-color: white; 
    color: #1E90FF; 
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.rentar-button:hover {
    background-color: #f0f0f0; 
    transform: scale(1.05);
}

.filtros {
    margin: 20px;
    text-align: center;
}

.filtros input[type="text"] {
    padding: 10px;
    width: 50%;
    border-radius: 6px;
    border: 1px solid #B0C4DE;
    margin-right: 10px;
}

.filtros label {
    color: white; /* Cambia el color del texto del label a blanco */
    font-size: 16px;
    font-weight: bold;
}

.filtros input[type="checkbox"] {
    margin-left: 10px;
}
